@media (max-width:1024px){
    .hero{
        height: 100vh;
    }
    .about-title,
    .about-title2 {
        font-size: 3rem;
    }
    .about-title2 {
        margin-top: 1rem;
    }
    .deco-hero {
        width: 238px;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
    }
}


