@media (max-width:1024px){
    .about-title-wrap .pc,
    .about-title-wrap .tab {
        font-size: 3rem;
        margin-top: 1rem;
        line-height: var(--lnh140);
    }
    .deco-hero {
        width: 238px;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .value-card {
        flex: 0 0 calc((100% - 2rem) / 2);
    }
}



