@media (max-width:768px){
    .hero{
        height: 100vh;
        position: relative;
    }
    .deco-hero {
        width: 180px;
        top: 38%;     
        left: 50%;
    }
    .hero .profile-title{
        position: absolute;
        top: 2rem;
        right: 1.5rem;      
        left: auto;
        text-align: right;
        margin-bottom: 0;
        transform: none;    
        opacity: 1;
    }
    .hero-title.dtu{
        transform: none;
    }
    .hero-title.dtu.on{
        transform: none;
    }
     .about-title,
    .about-title2{
        font-size: 2rem;
    }
    .about-title2{
        margin-top: 1rem;
    }
}