.hero {
    height: 100vh;
    background: #141414;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;    
}
.hero .common-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.hero-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}
.hero-heading,
.hero-subtitle,
.profile-title {
    margin-bottom: 0.5rem;
}
.hero-heading {
    font-size: var(--heading1);
    line-height: var(--lnh140);
    font-weight: var(--weight2);
}
.hero-subtitle {
    font-size: var(--heading3);
}
.profile-title {
    font-size: var(--heading1);
    line-height: var(--lnh140);
    font-weight: var(--weight2);
    text-align: right;
}
.profile-name {
    font-size: var(--heading3);
}
.hero figure {
    margin-bottom: 2rem;
}
.deco-hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.aboutme {
    margin-top: 6rem;
}
.about-title-wrap .pc {
    font-size: 5rem;
    margin-top: 1rem;
}
.mo {
    display: none;
}
.ac1 {
    font-size: var(--body);
    line-height: var(--lnh140);
    margin: 1rem 0;
}
.values {
    margin-top: 3rem;
}
.values .common-frame {
    margin: 0;
    padding: 0;
}
.values-row-bg {
    margin: 0 auto;                 
    background: #f7f6f9;            
    display: flex;
    align-items: center;
    padding: 2.5rem;
    box-sizing: border-box;                 
}
.values-row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.value-card {
    padding: 2.5rem;
    border-radius: 2.5px;
    background: rgba(202, 196, 208, 0.2);
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    flex: 0 0 calc((100% - 3 * 2rem) / 4);
    position: relative;
}
.value-card-inner {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}
.value-card.is-active {
    background: #FFDE17;          
}
.value-icon { 
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%; 
    background: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0; 
}
.value-label {
    font-size: var(--heading2);
    line-height: var(--lnh140);
    font-weight: var(--weight1);
}
.values-detail {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: flex-start;
}
.values-detail-title {
    flex: 0 0 auto;
    font-size: var(--heading3);
    font-weight: var(--weight1);
    line-height: var(--lnh140);
    text-align: center;
    white-space: nowrap;
}
.values-detail-body {
    flex: 1;
    font-size: var(--body);
    line-height: var(--lnh140);
}
@media (min-width: 1200px){
    .value-card {
        flex: 0 0 calc((100% - 3 * 2rem) / 4); 
    }
}
